BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
ReflowComments: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterStruct: false
  AfterEnum: false
  BeforeElse: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
